@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: 'Catallina';
  src: url('./fonts/Catallina.otf');
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.32;
  font-family: 'Raleway', sans-serif;
}


.our-stories {
  overflow: hidden;
  background-color: #E0F4FF;
  padding: 60px 40px;

  @media screen and (max-width: 767px) {
    padding: 40px 20px;
  }

  &__slider {
    position: relative;

    &-prev,
    &-next {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #FFF;
      border: 3px solid #B3BE60;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      transition: 0.25s ease-in-out;

      svg {
        display: block;
        width: 8px;
        height: 18px;
      }

      @media(any-hover: hover) {
        &:hover {
          background-color: #B3BE60;
  
          svg path {
            stroke: #FFF;
          }
        }
      }
    }

    &-prev {
      left: 10px;

      @media screen and (max-width: 767px) {
        left: -15px;
      }
    }

    &-next {
      right: 10px;

      @media screen and (max-width: 767px) {
        right: -15px;
      }
    }
  }

  &__title {
    font-family: 'Catallina', sans-serif;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #335E92;

    @media screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__section {
    max-width: 280px;
    height: 647px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 767px) {
      max-width: 255px;
      height: 520px;
      gap: 10px;
    }

    &--wide {
      max-width: 660px;

      @media screen and (max-width: 767px) {
        max-width: 255px;
      }
    }
  }
  
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.is-active {

      .our-stories__item-preview {
        display: none;
      }
    }

    // &:hover {
      
    //   .our-stories__item-frame-mask {
    //     pointer-events: none;
    //   }
    // }

    &-main {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      overflow: hidden;
    }

    &-preview {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      @media(any-hover: hover) {
        &:hover {
          .our-stories__item-preview-btn {
            background-color: #B3BE60;

            svg path {
              fill: #FFF;
            }
          }
        }
      }

      &-img {
        display: block;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #FFF;
        z-index: 3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s ease-in-out;
        transform: translate(-50%, -50%);
      }
    }

    &-frame {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      overflow: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      video,
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        border: none;
        outline: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &-name {
      position: absolute;
      bottom: 40px;
      left: 30px;
      font-size: 14px;
      color: #FFF;
      display: none;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &-title {
      font-family: 'Catallina', sans-serif;
      font-size: 18px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #335E92;
      margin-bottom: 10px;
      flex-shrink: 0;
      margin-top: 30px;
      
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &-date {
      font-size: 16px;
      line-height: 1.2;
      color: #6E6E6E;
      flex-shrink: 0;
      
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}