@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Catallina";
  src: url("./fonts/Catallina.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.32;
  font-family: "Raleway", sans-serif;
}

.our-stories {
  overflow: hidden;
  background-color: #E0F4FF;
  padding: 60px 40px;
}
@media screen and (max-width: 767px) {
  .our-stories {
    padding: 40px 20px;
  }
}
.our-stories__slider {
  position: relative;
}
.our-stories__slider-prev, .our-stories__slider-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 3px solid #B3BE60;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.our-stories__slider-prev svg, .our-stories__slider-next svg {
  display: block;
  width: 8px;
  height: 18px;
}
@media (any-hover: hover) {
  .our-stories__slider-prev:hover, .our-stories__slider-next:hover {
    background-color: #B3BE60;
  }
  .our-stories__slider-prev:hover svg path, .our-stories__slider-next:hover svg path {
    fill: #FFF;
  }
}
.our-stories__slider-prev {
  left: 10px;
}
@media screen and (max-width: 767px) {
  .our-stories__slider-prev {
    left: -15px;
  }
}
.our-stories__slider-next {
  right: 10px;
}
@media screen and (max-width: 767px) {
  .our-stories__slider-next {
    right: -15px;
  }
}
.our-stories__title {
  font-family: "Catallina", sans-serif;
  font-size: 56px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #335E92;
}
@media screen and (max-width: 767px) {
  .our-stories__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.our-stories__section {
  max-width: 280px;
  height: 647px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .our-stories__section {
    max-width: 100%;
    height: 500px;
    gap: 10px;
  }
}
.our-stories__section--wide {
  max-width: 660px;
}
@media screen and (max-width: 767px) {
  .our-stories__section--wide {
    width: 100%;
  }
}
.our-stories__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.our-stories__item-main {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.our-stories__item-preview {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.our-stories__item-preview-img {
  display: block;
  width: 100%;
  height: 100%;
}
.our-stories__item-preview-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-stories__item-preview-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (any-hover: hover) {
  .our-stories__item-preview-btn:hover {
    background-color: #B3BE60;
  }
  .our-stories__item-preview-btn:hover svg path {
    fill: #FFF;
  }
}
.our-stories__item-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.our-stories__item-frame::-webkit-scrollbar {
  display: none;
}
.our-stories__item-frame iframe {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-stories__item-frame iframe::-webkit-scrollbar {
  display: none;
}
.our-stories__item-name {
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-size: 14px;
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .our-stories__item-name {
    display: none;
  }
}
.our-stories__item-title {
  font-family: "Catallina", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #335E92;
  margin-bottom: 10px;
  flex-shrink: 0;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .our-stories__item-title {
    display: none;
  }
}
.our-stories__item-date {
  font-size: 16px;
  line-height: 1.2;
  color: #6E6E6E;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .our-stories__item-date {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */